@model MVC.ViewModels.GenreViewModel
@{
    ViewData["Title"] = "Add Genre";
}

<div class="container mt-4 d-flex justify-content-center align-items-start" style="height: 100vh;">
    <div>
        <h1>Add New Genre</h1>
        @await Html.PartialAsync("_CreateGenrePartial", Model)
    </div>
</div>
