@model MVC.ViewModels.GenreViewModel

@{
    ViewData["Title"] = "Edit Genre";
}

<div class="modal fade" id="editGenreModal" tabindex="-1" aria-labelledby="editGenreModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content card-rounded">
            <div class="modal-header card-header-gradient">
                <h5 class="modal-title" id="editGenreModalLabel">Edit Genre</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body movie-details">
                <form asp-action="Update" method="post" id="editGenreForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    @if (Model.Id != 0)
                    {
                        <input type="hidden" asp-for="Id" />
                    }

                    <div class="mb-3">
                        <label for="Name" class="form-label">Genre Name</label>
                        <input type="text" class="form-control" id="Name" asp-for="Name" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary-style btn-rounded" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="editGenreForm" class="btn btn-secondary-style btn-rounded">Save Changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            var editGenreModal = new bootstrap.Modal(document.getElementById('editGenreModal'));
            editGenreModal.show();

            $('#editGenreModal').on('hidden.bs.modal', function () {
                window.location.href = '@Url.Action("GetAll")';
            });
        });
    </script>
}