@model MVC.ViewModels.CountryViewModel
@{
    ViewData["Title"] = "Add Country";
}

<div class="container mt-4 d-flex justify-content-center align-items-start" style="height: 100vh;">
    <div>
        <h1>Add New Country</h1>
        @await Html.PartialAsync("_CreateCountryPartial", Model)
    </div>
</div>
